/*
 * Author: Amani J. Ghachocha
 * Content: Public pages style
 * 
*/
body{
	font-size: 16px;
	font-family: "Segoe UI","Segoe WP", "Lucida Grande", "Lucida Sans Unicode", helvetica, serif, sans-serif;
	position: relative;
}